body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}
.container {
    width: 100%;
    min-height: 100vh;
    height: 100%;
    background: linear-gradient(to bottom, #1b1464 0%,#070107 100%);

    display: grid;
    grid-template-columns: 25% auto 25%;
    grid-template-rows: 70px auto;
}

.container header {
    grid-column: 1/4;
}

.container .content {
    grid-column: 2/3;
}